
.carousel-overlay {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: .5rem;

   
}

.carousel_header {
    margin: 0 auto;
    text-align: center;
    font-size: 8vw;
    margin-bottom: 8rem;
    font-weight: 600;
    font-family: $fontLato;
    letter-spacing: .3rem;
    text-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.513);
    
    @include resScreen(phone) {
       margin-bottom: 14rem;
    }

}

.carousel_desc {
    text-align: center;
    margin: 0 auto;
    transform: scale(.5);
    line-height: 1.2;
    margin-bottom: 5rem;
    font-size: 5vw !important;
    text-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.281);

    @include resScreen(phone) {
        display: none;
    }
}


.container {
    @include flex-col;
    width: 100%;
    align-items: center;
    margin: 0 auto;
    padding: 10rem 0;

    @include resScreen(tablet) {
        padding: 2rem;
    }

    @include resScreen(phone) {
        padding: 4rem 0;
        justify-content: center;
    }
  

    &__title {
        @include flex-col-center;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 3rem;

        &__header {
            text-align: center;
            font-size: 4rem;
            color: #01012a;

            letter-spacing: 0.125rem;
            font-family: $fontLato;
            font-weight: 700;

            @include resScreen(tablet) {
                font-size: 3rem;
            }
            @include resScreen(tablet) {
                margin-bottom: 0;
            }
        }

        &__desc {
            text-align: center;
            font-size: 3rem;
            margin-top: 1rem;
            color: $color-blue-2;
            font-family: $fontPoppins;
            line-height: 1.7;
            font-weight: 500;

            @include resScreen(tablet) {
                font-size: 1.7rem;
            }
            @include resScreen(phone) {
                font-size: 1.8rem;
            }
        }
    }

    &__desc {
        display: flex;
        justify-content: center;
        width: 100%;
        height: auto;
        margin: 0 auto;

        @include flex-center;
        @include resScreen(phone) {
            @include flex-col;
            align-items: center;
            justify-content: flex-start;
        }

        &__card {
            width: 50%;
            @include flex-col-evenly;
            align-items: center;
            text-align: center;
            padding: 6rem 2rem;
            box-shadow: 0 1.5rem 4rem rgba($color: black, $alpha: .16);

            @include resScreen(tablet) {
                height: auto !important;
            }
            @include resScreen(phone) {
               width: 95% !important;
               height: 75rem !important;
              
            }

           

            &:not(:last-child) {
                margin-right: 4rem;

                @include resScreen(phone) {
                    margin-right: 0;
                    margin-bottom: 5rem;
                   
                 }
            }

            &__icon {
                font-size: 10rem;
                color: $color-blue-2;
                text-shadow: 0 .3rem .4rem rgba(0, 0, 0, 0.335);

                @include resScreen(tablet) {
                    font-size:7rem;
                }

            }

            &__title {
                font-size: 2.5rem;
                color: #020141;
                font-family: $fontPoppins;
                text-shadow: 0 .1rem .1rem rgba(0, 0, 0, 0.185);
                font-weight: 500;
                margin: .5rem 0;

                @include resScreen(tablet) {
                    font-size: 2rem;
                }
            }

            &__desc {
                font-size: 2.5rem;
                color: #020141;
                font-family: $fontPoppins;
                text-shadow: 0 .1rem .1rem rgba(0, 0, 0, 0.185);
                font-weight: 400;
                width: 80%;
               

                @include resScreen(tablet) {
                    font-size: 1.5rem;
                }
            }
        }
    }

    &__personal-card {
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        margin: 2rem 0;
        width: 24%;
        height: 37rem !important;
        padding: 0;

        @include resScreen(tablet) {
            height: 26rem  !important;
            margin: 2rem 0;
        } 

        @include resScreen(phone) {
            margin: 2rem 0;
            width: 80% !important;
            height: 50rem !important ;
        }
       
      
      
        &__img {
            width: 100%;
            height: 25rem; 
            display: flex;
            justify-content: center;
            align-items: flex-start;
            max-width: 100%;
            
            @include resScreen(phone) {
                height: 33rem; 
            }
            .profil-img{
               width: 100%;
                height: 22rem;

                @include resScreen(tablet) {
                    width: 100%;
                    height: 15rem;
                }

                @include resScreen(phone) {
                    height: 35rem; 
                }

              
            }

            i{
                color: $color-blue-2;
                font-size: 16rem;
                text-shadow: 0 .5rem .5rem rgba(39, 10, 85, 0.692);
                margin-top:5rem;

                @include resScreen(tablet) {
                    font-size: 8rem;
                }

             
            }
        }

        &__title {
            width: 70%;

            @include resScreen(tablet) {
                width: 50%;
            }
           
            h1:first-child {
                font-size: 2rem;
                font-family: $fontLato;
                font-weight: 600;
                line-height: 1.2;
                margin: 1rem 0;
                text-transform: uppercase;
                color: $color-text-black-1;

                @include resScreen(tablet) {
                    font-size: 1rem;
                    margin:.2rem;

                }
                
            }

            h1:last-child {
                font-size: 1.6rem;
                font-family: $fontLato;
                margin-top: .5rem;
                font-weight: 400;
                color: $color-text-black-1;

                @include resScreen(tablet) {
                    margin: 1rem 0;
                    font-size: 1.1rem;
                }
            }
        }

        &__desc {
            color: $color-text-blue-1;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.3;
            margin: .5rem 0;
            width: 70%;
            font-family: $fontLato;

            @include resScreen(tablet) {
                margin: .1rem 0;
                font-size: 1rem;
                width: 80%;
            }

            @include resScreen(phone) {
                margin: 0;
                font-size: 1.6rem;
            }
        }

        &__sosial {
            @include flex-row-evenly;
            width: 10vw;
            margin-bottom: 3.1rem;
          

            .fab {
                font-size: 2.5rem;
                color: #494b4d;
                transition: all .3s;
                margin-right: 1rem;
                cursor: pointer;

                @include resScreen(tablet) {
                    margin: 1rem 0;
                    font-size: 1.5rem;
                    margin-right: 1rem;
                }

                &:hover {
                    color: #35373a;
                }
            }
        }

        
    }


    &__personal-card-1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        width: 30%;
        padding: 4rem;

        @include resScreen(phone){
            height: 55rem !important;
            width: 90%;

        }
        @include resScreen(tablet){
            height: 45rem !important;
            width: 40%;

        }
        &__img {
            width: 30rem;
            max-width: 100%;
            height: auto;



            
        }



        &__title {

          
            h1:first-child {
                font-size: 2rem;
                font-family: $fontLato;
                font-weight: 500;
                margin-top: 2rem;
                color: $color-text-black-1;


            }

            h1:last-child {
                font-size: 1.3rem;
                font-family: $fontLato;
                margin-top: .5rem;
                font-weight: 400;
                color: $color-text-black-1;
            }
        }

        &__desc {
            color: $color-text-blue-1;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.7;
            width: 100%;
            height: 15rem;
            font-family: $fontLato;

            @include resScreen(tablet) {
                font-size: 1.3rem;
                line-height: 1.5;
            }

            @include resScreen(phone){
                width: 65%;
                margin-bottom: 1rem;
                line-height: 1.4;
 
             }
        }

        &__btn {
            a {
                color: $color-text-blue-2;
                padding: 1.2rem 3rem;
                font-size: 1.4rem;
                font-family: $fontPoppins;
                border: .1rem solid $color-text-blue-2;
                font-weight: 500;
                transition: all .3s;
                letter-spacing: .1rem;
                text-decoration: none;

                &:hover {
                    background-color: $color-text-blue-2;
                    color: white;
                }

                @include radius(.3rem);

                @include resScreen(tablet) {
                    padding: .7rem 1.4rem;
                    font-size: 1.4rem;
                }
              
            }


        }


    }

       //Carusel
    &__carousel {
        display: flex;
        margin: 0 auto;
        width: 100%;
        padding: 6rem;


    }

    &__personal-card-content {
        display: flex;
        width: 20vw;
        height: 17vh;
        flex-direction: column;
        justify-content: space-around;
        align-self: flex-start;
        font-size: 1.6rem;
        background-color: white;
        margin: 0 auto;
        @include radius(2px);
        padding: 2rem 4rem;



        span {
            display: flex;
            justify-content: flex-start;
            font-size: 3vw;
            height: 4rem;
            color: $color-text-black-3;
        }

        p {
            text-align: left;
            font-family: $fontLato;
            font-size: 2rem;
            line-height: 1.7;
            margin: 1.5rem 0;
            color: $color-text-black-3;

            @include resScreen(tablet){
                font-size: 1.4rem;
                font-weight: 500;
                line-height: 1.3;
            }
        }


        .personal__card-content__info {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            @include resScreen(tablet){
                flex-direction: column;
            }
            &__img {
                width: 6rem;
                max-width: 100%;
                height: auto;
                @include radius(50%);
                margin-right: .2rem;

                
            }

            &__desc {
                @include flex-col-center;
                font-family: $fontLato;
                margin-top: 1rem;

                .content__info__desc__header {
                    font-size: 1vw;
                    font-weight: 600;
                    color: $color-text-black-3;
                    margin-top: 1rem;
                    font-family: $fontPoppins;

                    @include resScreen(tablet){
                        font-size: 1.5rem;
                    }
                }

                .content__info__desc__body p {
                    display: none;
                    font-size: 1.1rem;
                    font-weight: 500;
                    color: $color-text-black-3;
                }
            }
        }

    }

}



//CONTAINER-SUBS
.container-subscribe {
    @include flex-center;
    margin-top: 2rem;
    width: 100%;
    height: 30vh;
    background-color: #dae6ff;


  


    .content-subscribe {
        display: flex;
        width: 90%;
        justify-content: space-evenly;
        align-items: center;
        @include resScreen(phone){
            @include flex-col;
       } 

        &__header {
            font-family: $fontLato;
            font-size: 3vw;
            font-weight: 400;


            @include resScreen(tablet){
                font-size: 3rem;
            }
            @include resScreen(phone){
                font-size: 4rem;
            }  
        }

        &__title {
            width: 40%;
            font-size: 1.1vw;
            font-family: $fontLato;
            line-height: 1.7;
            margin: 0 2rem;
            color: $color-blue-3;

            @include resScreen(tablet){
                font-size: 1.2rem;
            } 
            @include resScreen(phone){
                font-size: 1.4rem;
                font-weight: 500;
                width: 90%;
                text-align: center;
            } 
        }

        &__input {
            position: relative;
            width: 30vw;
            display: flex;
            align-items: center;
            justify-content: center;

           


            &__text {
                width: 24vw;
                height: 4.7rem;
                margin: 0%;
                color: rgb(59, 59, 59);
                font-size: 2rem;
                padding: 2rem;

                @include resScreen(phone){
                    width: 60vw;
                    padding: 1rem;
                } 

                &::placeholder {
                    display: flex;
                    text-align: left;
                    font-size: 2rem;
                    padding: 2rem;
                    color: gray;
                    
                    @include resScreen(tablet){
                        font-size: 1.3rem;
                        padding: 1rem;
                    } 
                
                }


                &:focus {
                    border: .1rem solid $color-blue-2;
                    border: .1rem solid $color-blue-2;
                    color: gray;
                    font-size: 2rem;
                    padding: 2rem;


                    @include resScreen(tablet){
                        font-size: 1.2rem;
                    } 
                }
            }

            &__submit {
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 10.5rem;
                height: 4.8rem;
                font-size: 2rem;
                color: white;
                padding: .1rem 2rem;
                font-weight: 600;
                border: none;
                transition: all .3s;
                background-color: $color-blue-3;

                &:hover {
                    color: $color-blue-2;
                    border: .1rem solid $color-blue-2;
                    background-color: white;
                }

                @include resScreen(tablet){
                    font-size: 1.6rem;
                } 
            }
        }
    }
}