.footer{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-image:linear-gradient(to left,$color-blue-1,$color-blue-2);
    // background-image: linear-gradient(to right,$color-blue-1,$color-blue-2);   

    &__header{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      
        &__sosial-bar{
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 30rem;
            

            @include resScreen(tablet) {
                width: 70%;
                height: 20rem;
            }
            @include resScreen(phone) {
                width: 75%;
                height: 15rem;
            }
            

            a:not(:last-child){
                margin-right: 4rem;

                @include resScreen(phone) {
                    margin-right:1rem;
                }
            }
            .fab{
                margin-top:10rem;
                color: white;
                font-size: 4rem;
                text-shadow:  0 .15rem 2rem rgba($color: black, $alpha: .7);
                transition: all .3s;

                @include resScreen(phone) {
                    margin-top:8rem;
                    font-size: 3rem;
                }

                &:hover{
                    color: #dddddd;
                }
               
            }
        
        }
    }

    &__copyright{
        width: 100%;
        height:5rem;
        background-image:linear-gradient(to left,$color-blue-1,$color-blue-2);
        display: flex;
        border-top: 1px solid rgba(7, 6, 51, 0.103);
        justify-content: center;
        align-items: center;
     
        &__info{
            color: #f8f9fa;
            font-size: 1.4rem;
            font-weight: 500;
            font-family:$fontLato;
            letter-spacing: .1rem;

            @include resScreen(phone) {
                font-size: 1.2rem;
            }
        }
    }

}