.header {
    display: flex;
    background-image: linear-gradient(to right, $color-blue-1, $color-blue-4);
    width: 100%;
    position: fixed;
    z-index: 9999;


    @include resScreen(tablet) {
        position: static;
    }

    @include resScreen(phone) {
        position: static;
    }

    &__nav {

        width: 100%;
        padding: 0 1rem;

        &__logo {
            display: flex;
            align-items: center;
            width: 50%;
            padding: .5rem 3rem;

            img {
                width: 15rem;
                max-width: 100%;
                transform: scale(.9);
                transition: all .3s;
                cursor: pointer;
                height: auto;

                &:hover {
                    transform: scale(1.0);
                }
            }
        }

        &__navbar {
            width: 50%;
            display: flex;

            @include resScreen(tablet) {
                text-align: center;
            }

            &__list {
                display: flex;
                width: 100%;
                justify-content: flex-end;
                margin: 0 auto;
                text-align: left;

                @include resScreen(tablet) {
                    text-align: center;

                }

                @include resScreen(phone) {
                    text-align: center;

                }

                li {
                    margin-right: 1.5rem;

                    @include resScreen(tablet) {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    @include resScreen(phone) {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }

                a {
                    margin: 0 auto;
                    font-size: 1.8rem;
                    color: #bce3ff !important;
                    font-weight: 600;
                    text-shadow: 0 .2rem .2rem black;


                    @include resScreen(tablet) {
                        border-bottom: .1rem solid rgba(36, 36, 80, 0.267);
                        font-size: 2.5rem;
                        padding: 1.5rem;
                        font-weight: normal;
                    }

                    @include resScreen(phone) {
                        border-bottom: .1rem solid rgba(36, 36, 80, 0.267);
                        font-size: 3rem;
                        padding: 4.4rem 0;
                        font-weight: normal;
                    }

                    &:hover {
                        text-decoration: underline;
                        color: white !important;
                    }
                }
            }
        }
    }

}