//COLOR
$color-blue: #171bff;
$color-black:#0f0b0b;
$color-blue-1: #98a5df;
$color-blue-2: #04207c;
$color-blue-3: #3fa9f5;
$color-blue-4: #0026a1;
//FONT
$fontPoppins:'Poppins', sans-serif;
$fontLato:'Roboto', sans-serif;
$fontRubik:'Rubik', sans-serif;


//color
$color-text-black-1:#212529;
$color-text-black-2:#272c30;
$color-text-black-3:#343a40;
$color-text-black-3:#291734;


$color-text-blue-1:#17a2b8;
$color-text-blue-2:#007bff;
$color-text-blue-3:#2F5BE7;

$color-back-white-1:#e2e6ea;
$color-back-red-1:#ea3d56;


//shadow
$color-shadow-black: 4px 4px 4px 4px black;