.header {
    width: 100%;
  
    height: auto;
    position: relative;
    padding: 5rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    //arrow
    .arrowIcon{
        position: fixed;
        right: 2%;
        bottom: 7%;
        z-index: 999999999999999;
        filter: drop-shadow(0 .1rem .4rem rgba(0, 0, 0, 0.788));
        font-size: 7rem;
        color: $color-blue;


        @include respond(phone){
            font-size: 5rem;
        }
        
    }
    //sosial
    &__icons{
        width: 4.5%;
        height: 37rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        box-shadow: 0 .1rem 2rem #00000059 ;
        position: fixed;
        right:1% ;
        top: 14%;
        background-color: $color-blue;
        z-index: 999999999;
        justify-content: space-evenly;
        font-size: 4.5rem;

        @include respond(tab-land){
            width: 35%;
        }

        @include respond(tab-port){
            width: 40%;
        }
        @include respond(phone){
            width: 70%;
            font-size: 3rem;
        }
        a{
            text-decoration: none;
            color: $color-black;
            
        }
        .icon{
            text-align: 0 .1rem 2rem black;
            &:hover{
                transform: scale(1.1);
            }
        }

     
    }


    img {
        width: 55%;
        transform: scale(1);
        height: auto;
        animation: imgScale 10s linear 2s infinite alternate;

        @include respond(tab-land){
            width:50%;
        }

        @include respond(tab-port){
            width:100%;
            opacity: .5;
        }
    }


    &__desc{
        position: absolute;
        width:50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        left: 5%;
        animation: textScale 15s linear 2s infinite alternate;
        h1{
            width: 85%;
            text-align: left;
            font-weight: bold;
            letter-spacing: .2rem;
            line-height: 1.2;
            color:$color-blue;
            font-size: 5.5rem;
            text-shadow: 0 .2rem 2rem rgba(255, 255, 255, 0.219);
        
            
            @include respond(tab-land){
                width:50%;
                font-size: 6rem;
            }
    
            @include respond(tab-port){
                width:80%;
                text-align: center;
                font-size: 7rem;
            }
            @include respond(phone){
                font-size: 4rem;
                line-height: 1.3;
                text-align: center;
            }
            span{
                color: white;
              
            }
        }

        p{
            width:75%;
            color: white;
            font-size: 2.3rem;
            margin: 2rem 0;
            line-height: 1.4;
            letter-spacing: .1rem;
        }

        a{  
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 18rem;
            font-size: 2.2rem;
            padding: 1.5rem;
            background-color: $color-blue;

            .iconArrow{
                font-weight: bold;
            }
        }
    }
 


}





//Animation
@keyframes imgScale {
    from {
        transform: scale(.9);
    }

    to {
        transform: scale(1);
    }
}

@keyframes textScale {
    from {
        left: 5%;
    }

    to {
        left: 10%;
    }
}