.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    position: relative;
    align-items: center;
    

    .hamIcon{
        display: none;
        color: white;
     
        @include respond(tab-port){
            display: block;
            font-size: 4rem;
            z-index: 999999;
         }

         @include respond(phone){
              font-size: 2rem;
        }
    }
    img{
        width: 17rem;
        height: auto;
        cursor: pointer;
        z-index: 999999;

        &:hover{
            transform: scale(1.05);
        }
        @include respond(tab-land){
            width: 13rem;
        }

        @include respond(tab-port){
            width: 11rem;
         }


        @include respond(phone){
            width: 10rem;
            
        }
    }

    &__list{
        width: 47%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include respond(tab-land){
            width: 60%;
        }

        @include respond(tab-port){
            position: absolute;
            top: -1400%;
            right: 0%;
            width: 100%;
            background-color: rgb(32, 32, 32);
            z-index: 9999;
            padding: 4rem;
            height: 85rem;
            align-items: center;
            flex-direction: column;
         }
         &__menu{
            width: 70%;
            display: flex;
            justify-content: space-evenly;
            &__item{
                text-transform: lowercase;;
                font-size: 2.5rem;
                font-weight: 600;
                letter-spacing: .2rem;
                font-family: $fontAudio;
                color: white;
                text-decoration: none;
    
                @include respond(tab-land){
                   font-size: 1.4rem;
                }
                @include respond(tab-port){
                    font-size:3rem;
                    margin: 2rem;
                 }
                &:hover{
                        color:$color-blue;  
                }
    
               
            }
        }
       
        &__join{
            display: flex;
            justify-content: center ;
            align-items: center;
            width: 20%;

            &__item{
                text-decoration: none;
                padding: .5rem 2.5rem ;
                font-size: 2.1rem;
                color:$color-blue;
                border: .25rem solid $color-blue;


                &:hover{
                    color:white;
                    border: .25rem solid white;
                }
            }
        }
    }
}