.footer{
    width: 100%;
    margin-top: 15rem;
    background-color:$color-black;
    clip-path: polygon(2% 10%, 100% 0, 100% 100%, 0% 100%);
    height: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @include respond(tab-port){
        padding: 2rem;
        clip-path: none;
    }
    img{
        width: 45%;
        opacity: .1;
    }
    .arrowIcon{
        position: fixed;
        right: 2%;
        bottom: 10%;
        z-index: 999999999999999;
        font-size: 7rem;
        color: white;


        @include respond(phone){
            font-size: 5rem;
        }
        
    }

   

    &__copyright{
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        height: 5rem;
        letter-spacing: .1rem;
        color: white;
        font-size: 1.6rem;
        font-family: $fontAudio;
        border-top: .1rem solid rgba(0, 0, 0, 0.425);
        padding: 2rem;
        
        @include respond(tab-land){
            font-size: 1.4rem;
        }

        @include respond(tab-port){
            font-size: 1.1rem;
        }

        @include respond(phone){
            font-size: 1rem;
            text-align: center;
        }
    }
}