*{   transition: all .5s;}
*,
*:before,
*:after {
  box-sizing: border-box;
}
body{
    font-family: $font-1;
    background-color: rgb(246, 246, 246);
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

