.container{
    display: flex;
    width: 100%;
    height: auto;
    @include respond(tab-port){
        flex-direction: column;
    }

    .menu{
        display: flex;
        flex-direction: column;
       padding: .5rem;
        width: 18%;
        height:auto;
        box-shadow:0 1rem 4rem rgba(0, 0, 0, 0.76);
        background-color:rgb(32, 97, 134);
        border-right: .1rem solid rgba(6, 44, 128, 0.287);
        @include respond(tab-port){
            width: 100%;
        }
        .fixed{
            width: 12%;
            display: flex;
            position: fixed;
            flex-direction: column;
            padding: .5rem;
            @include respond(tab-port){
                position: static;
                width: 100%;
                flex-direction: row;
                justify-content: space-evenly;
            }
           
        }
        &__logo{
            text-decoration: none;
            margin: 1rem 0;
            padding: 1rem;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            sup{
                position: absolute;
                top:10%;
                right: 15%;
                color: white;
            }
            &:hover{
                background-color: rgb(231, 231, 231);
            }
            &:hover i {
                color: rgb(48, 48, 48);
            }
            &:hover p {
                color: rgb(29, 29, 29);
            }
            @include respond(tab-land){
                margin:  0;
            }
            img{
                width: 85%;
                height: auto;

                @include respond(tab-land){
                    width: 9rem;
                }
            }

            p{
                width: 80%;
                color: rgb(243, 243, 243);
                font-size: 1.6rem;
                text-align: left;
                margin-left:1rem ;

                @include respond(tab-land){
                    font-size: 1.3rem;
                }
            }

            i{
                width: 30%;
                font-size: 2.7rem;
                color: rgb(243, 243, 243);

                @include respond(tab-land){
                    font-size: 2rem;
                }
            }
            
        }
    }

    .content{
        display: flex;
        flex-direction: column;
        width: 87%;
        height:100%;
        @include respond(tab-port){
            width: 100%;
        }
        &__header{
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 4rem;
            text-align: right;
            justify-content: center;
            height: 20rem;
            background-color:rgb(40, 151, 216);
            align-items:center ;
            color: rgb(255, 255, 255);
            text-shadow: 0 .1rem 1rem black;

            h1{
                width: 75%;
                font-size: 4vh;
                font-weight: 500;
                line-height: 1.2;
                letter-spacing: .1rem;

                @include respond(tab-land){
                    font-size: 3rem;
                }
                @include respond(phone){
                    width: 75%;
                    text-align: center;
                    font-size: 2.2rem;
                }
            }
            p{
                width: 75%;
                margin: 1rem 0;
                font-size: 2rem;

                @include respond(tab-land){
                    font-size: 1.7rem;
                }

                @include respond(phone){
                    width: 75%;
                    text-align: center;
                    font-size: 1.2rem
                }
            }
        }

        &__section{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            background-color: rgb(255, 255, 255);

           
            .teacher-card{
                display: flex;
                align-items: center;
                justify-content: space-around;
                width: 100%;
                position: relative;
                background-color: rgb(230, 234, 251);
                padding: 4rem 8rem;
                border-top: .1rem solid rgba(22, 31, 51, 0.137);
                &:hover{
                    background-color: rgb(238, 238, 238);
                }
                @include respond(phone){
                  flex-direction: column;
                }

                @include respond(phone){
                    padding: 4rem ;
                  }
                .course-link{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 5;
                }

                &__logo{
                    width: 29%;
                    height: auto;
                    box-shadow: 0 .2rem 2.5rem rgba(0, 0, 0, 0.363);

                    @include respond(tab-land){
                        width: 35%;
                        margin-right:1.5rem ;

                        @include respond(tab-port){
                            width: 47%;
                        }

                        @include respond(phone){
                            width: 100%;
                          }
                    }
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }

                &__desc{
                    width: 65%;
                    display: flex;
                    padding: 3rem 0;
                    flex-direction: column;
                    height: 20rem;

                    @include respond(phone){
                        width: 100%;
                      }
                    h1{
                        font-size: 3.3rem;
                        font-weight: 500;
                        color: rgb(20, 20, 20);
                        margin-bottom: 2rem;


                        @include respond(tab-land){
                            font-size: 2.5rem;
                        }
                        @include respond(tab-port){
                            font-size: 2.2rem;
                        }

                        @include respond(phone){
                            font-size: 2.2rem;
                          }
                    }
                    p{
                        font-size: 1.7rem;
                        color: rgb(46, 46, 46);

                        @include respond(tab-land){
                            font-size: 1.4rem;
                        }
                        @include respond(tab-port){
                            font-size: 1.2rem;
                        }
                    }
                }
            }

        }

        &__footer{
            width: 100%;
            background-color:rgb(0, 46, 73);
            height: 8rem;
            padding: 2rem;
            color: white;
            display: flex;
            justify-content: space-between;
            align-items: center;


            @include respond(phone){
               flex-direction: column;
              }
            &__logo{
                display: flex;
                align-items: center;
                img{
                    width: 3rem;
                    height: 3rem;

                    @include respond(tab-land){
                        width: 2rem;
                    height: 2rem;
                    }
                }
                p{  
                    margin-left:1rem ;
                    font-size: 1.7rem;
                    @include respond(tab-land){
                        font-size: 1.4rem;
                    }
                }

            }
            
            .copyright{
                font-size: 1.6rem;
                @include respond(tab-land){
                    font-size: 1.2rem;
                }
            }

            

        }

        //createPAge user info
        .user-info{
            width: 90%;
            padding: 4rem;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @include respond(tab-land){
                padding: 0;
            }

            &__name{
                font-size: 2rem;
                font-weight: 500;
                color: rgb(27, 27, 27);
                margin:2rem ;

               
            }

            &__video{
                iframe{
                    width: 100%;
                    height: 60rem;
                    box-shadow: 0 .1rem 2rem #00000065;

                    @include respond(tab-land){
                        width: 100% ;
                        height: 45rem;
                    }
                    @include respond(tab-port){
                        width: 100% ;
                        height: 34rem;
                    }

                    @include respond(phone){
                        width: 100% ;
                        height: 22rem;
                    }
                   
                    &:hover{
                        transform: scale(1.02);
                    }
                }
            }

            &__desc{
                box-shadow: 0 .1rem 2rem #0000002c;
                padding: 2rem;
                margin-top:3rem ;
                line-height: 1.4;
                font-size: 2rem;
                border: .1rem solid rgba(0, 0, 0, 0.329);
                width: 100%;
                @include respond(phone){
                    font-size: 1.8rem;
                    border:none;
                    box-shadow: none;
                }
               
                p{
                    font-size: 2.4rem;
                    font-weight: 700;
                    white-space: pre;
                    font-family: monospace;
                    display: block;
                    @include respond(phone){
                        font-size: 2.2rem;;
                    }
                  
                }
                margin: 1rem 0;
            }


        }
    }


}

.fixed-arrow{
    position: fixed;
    bottom: 5%;
    right: 2%;
    font-size: 3.5rem;
}


//aboutPage

.about-info{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 8rem;
    margin-top: 8rem;
    
    @include respond(phone){
        flex-direction: column;
        justify-content: center;
    }


    &__header{
        width: 100%;
        padding: 2rem ;
        border-top: .1rem solid rgba(17, 1, 48, 0.164);
        display: flex;
        margin-bottom: 5rem;
        justify-content: center;
        align-items: center;
        @include respond(phone){
            width: 100%;
            margin-bottom:1rem ;
        }
        p{
            font-size: 3rem;
            font-weight: 500;
            font-weight: bold;
            letter-spacing: .3rem;
            color: orange;

            @include respond(phone){
                font-size: 2rem;
                transform: rotate(0deg);
            }
        }
    }
    &__title{
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        @include respond(phone){
            width: 100%;
        }
        h4{
            font-size: 2.2rem;
            font-weight: 500;
            line-height: 1.4;
            @include respond(phone){
                font-size: 1.8rem;
            }
        }
        h5{
            font-size: 2.2rem;
            font-weight: 500;
            margin-top:3rem ;
            @include respond(phone){
                font-size: 1.8rem;
            }
        }

        p{
            font-size: 2rem;
            margin: 2rem 0;
            @include respond(phone){
                font-size: 1.8rem;
            }
          
        }
        span{
            font-weight: bold;

        }
    }
}

// .bg-black{
  
//     background-color: rgb(6, 0, 59);
//     color: white;
// }

.active{
    background-color:rgb(14, 72, 105);
   
    i,p{
        color: rgb(255, 255, 255) !important;
    }
}