.header{
    height: 85vh;
    background-image: linear-gradient(
        to right bottom,
        rgba(rgb(130, 44, 179), 1),
        rgba(rgb(90, 23, 121), 1));
    background-size: cover;
    background-position: top; 
    position:relative;

    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
        clip-path: polygon(100% 0, 100% 100%, 82% 100%, 4% 100%, 0 0);
        height: 95vh;
    }

    @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
            only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), //This is for Firefox
            only screen and (min-width: 125em) {
        background-image: linear-gradient(
            to right bottom,
            rgba(rgb(130, 44, 179), 1),
        rgba(rgb(90, 23, 121), 1));
    }
    @include respond(tab-port) { 
       height: 70rem;
    }
    @include respond(phone) { 
        clip-path: polygon(100% 0, 100% 100%, 82% 100%, 4% 100%, 0 0);
    }

    &__logo-box {
        position: absolute;
        top: 1rem;
        left: 1rem;
        padding-top:2rem ;
        padding-left:2rem ;
    }

    &__logo-box-1 {
        display: flex;
        position: absolute;
        justify-content: space-evenly;
       bottom: 1rem;
        right: 1rem;
        margin-top:2rem ;
        padding-top:2rem ;
        padding-left:2rem ;


        
    }

    &__logo {
        // filter:  brightness(0) invert(1);
        width: 18rem;
        height:14rem;
        margin-right:10rem ;

        @include respond (tab-land){
            height:15vh;
        }

        @include respond (tab-port){
            width: 12rem;
            height:10rem;
            margin-right:7rem ;
        }

        @include respond (phone){
            width: 9rem;
            height:8.5rem;
            margin-right:.6rem ;
        }

        &:hover{
            transform: scale(1.1);
        }

       
    }
    &__text-box {
        /* To center element and it be responsive */
        position: absolute;
        top: 45%;
        left: 50%;
        font-weight: bold !important;
        transform: translate(-50%, -50%);
        text-align: center;
      
    }
}

    // .heading-primary--sub{
    //     width: 70%;
    //     margin:  0 auto;
    // }

