.header{
    height: 85vh;
    background-image: linear-gradient(
        to right bottom,
        rgba(rgb(130, 44, 179), 1),
        rgba(rgb(90, 23, 121), 1));
    background-size: cover;
    background-position: top; 
    position:relative;

    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
        clip-path: polygon(5% 88%, 4% 85%, .5% 0, 100% 0, 100% 99%, 22% 96%, 16% 95%, 13% 94%, 10% 93%, 6% 91%);
        height: 95vh;
    }

    @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
            only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), //This is for Firefox
            only screen and (min-width: 125em) {
        background-image: linear-gradient(
            to right bottom,
            rgba(rgb(179, 44, 44), 1),
            rgba(rgb(121, 23, 23), 1));
    }
    @include respond(phone) { 
        clip-path: polygon(5% 88%, 4% 85%, .5% 0, 100% 0, 100% 99%, 22% 96%, 16% 95%, 13% 94%, 10% 93%, 6% 91%);
    }

    &__logo-box {
        position: absolute;
        top: 1rem;
        left: 1rem;
        padding-top:2rem ;
        padding-left:2rem ;
    }
    &__logo {
        // filter:  brightness(0) invert(1);
        height:14rem;
       margin-right:1rem;
        transform: scale(1);

        @include respond (phone){
            height:5rem;
        }

        &:hover{
            transform: scale(1.1);
        }

       
    }
    &__text-box {
        /* To center element and it be responsive */
        position: absolute;
        top: 45%;
        left: 50%;
        font-weight: bold !important;
        transform: translate(-50%, -50%);
        text-align: center;
      
    }
}

    // .heading-primary--sub{
    //     width: 70%;
    //     margin:  0 auto;
    // }