.header{
    height: 85vh;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8));
    background-size: cover;
    background-position: top; /* Makes sure that top of the image will always stay at the top of the div. Center will keep the center of the image always in teh centre. Top and bottom will be cup off with resize. */
    position:relative;

    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
        -webkit-clip-path: polygon( 0 0, 100% 0, 100% 75vh, 0 100%);
        clip-path: polygon( 0 0, 100% 0, 100% 75vh, 0 100%); /* Make cool cut of header image */
        height: 95vh;
    }

    @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
            only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), //This is for Firefox
            only screen and (min-width: 125em) {
        background-image: linear-gradient(
            to right bottom,
            rgba($color-secondary-light, 0.8),
            rgba($color-secondary-dark, 0.8)), 
             url(../img/hero.jpg);
    }
    @include respond(phone) { 
        -webkit-clip-path: polygon( 0 0, 100% 0, 100% 85vh, 0 100%);
        clip-path: polygon( 0 0, 100% 0, 100% 85vh, 0 100%); 
    }

    &__logo-box {
        position: absolute;
        top: 1rem;
        left: 1rem;
        padding-left:2rem ;
    }
    &__logo {
        filter:  brightness(0) invert(1);
        height: 5rem;
       
        transform: scale(1);
        &:hover{
            transform: scale(1.1);
        }

       
    }
    &__text-box {
        /* To center element and it be responsive */
        position: absolute;
        top: 45%;
        left: 50%;
        font-weight: bold !important;
        transform: translate(-50%, -50%);
        text-align: center;
      
    }
}

    // .heading-primary--sub{
    //     width: 70%;
    //     margin:  0 auto;
    // }